<nav class="navbar navbar-expand-lg navbar-success bg-success" id="navbar">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {% if request.user.is_authenticated %}
            <li class="nav-item" onclick="color()">
              <a class="nav-link navbar-brand {% if request.path == home %} active {% endif %}" href="/">Home ({{request.user.username}})</a>
            </li>

            {% else %}
            <li class="nav-item" onclick="color()">
                <a class="nav-link navbar-brand {% if request.path == home %} active {% endif %}" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" onclick="color()">
              <a class="nav-link navbar-brand {% if request.path == signup %} active {% endif %}" href="{% url 'signup' %}">Signup/Registration</a>
            </li>
            <li class="nav-item" onclick="color()">
              <a class="nav-link navbar-brand {% if request.path == login %} active {% endif %}" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}

            <li class="nav-item" onclick="color()">
              <a class="nav-link navbar-brand {% if request.path == about %} active {% endif %}" href="#">About</a>
            </li>
            <li class="nav-item" onclick="color()">
              <a class="nav-link navbar-brand {% if request.path == contact %} active {% endif %}" href="#">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item" onclick="color()">
                  <a class="nav-link navbar-brand {% if request.path == logout %} active {% endif %}" href="{% url 'logout' %}">Logout</a>
              </li>
            {% endif %}

      </ul>


            <ul class=" navbar-nav my-2 my-lg-0">
                  <li class="nav-item" onclick="color()">
                      <a href="{% url 'cart' %}" class="nav-link navbar-brand">Cart
                          <span class="badge badge-sucess">{{request.session.cart.keys|length}}</span>
                        </a>
                  </li>
            </ul>
    </div>


  </div>
</nav>



